# Compiled class file
*.class

# Log file
*.log

### Eclipse ###

### Eclipse Patch ###
# Eclipse Core		
.project

# JDT-specific (Eclipse Java Development Tools)		
.classpath
/bin/
/classes/

# Build
build/

# Gradle Build
.gradle/

#IntelliJ IDEA directory
.idea/

#Metadata
.metadata/

#Recommenders
.recommenders/